<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css">
	<title>Removed</title>
</head>

<body class = "removebody">
	<h1>Removal of All Inputs</h1>
	<div>
        <p>
			All inputs have been removed from the database. Number of inputs removed: <%- deletion %>
		</p>		
		<a href="/">HOME</a>
	</div>
</body>
</html>